/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.pizzaHome {
  position: relative;
  background-image: url(../Assets/Pizza.jpg);
  background-size: cover;
  height: 30rem;
  color:rgb(0, 0, 0);
  font-size: x-large;
}

.formhead {
  display: flexbox;
  position: relative;
  background-image: url(../Assets/pizzacats.jpg);
  background-size: cover;
  height: 30rem;
  width: 80rem;
  color:rgb(0, 0, 0);
  font-size: x-large;
}


.foodchoices {
  display: flex;
  flex-wrap: wrap;
  
}

.discrip {
  line-height: 1.3;
  font-weight: 600;
  display: flex;
  justify-content: center;

}

.orderbuttons {
  display: flex;
  justify-content: center;

}

.mainbutton {
  width: 8rem;
  height: 4rem;
  background-color: gold;
  font-weight: 900;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}



.DDB {
  position: relative;
  background-image: url(../Assets/dogburger.jpg);
  background-size: cover;
  width: 20rem;
  height: 12rem;
  border-radius: 40px;
  
}

.DC {
  position: relative;
  background-image: url(../Assets/DunkinCat.jpg);
  background-size: 75% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 20rem;
  height: 12rem;
  border-radius: 40px;
}

.CW {
  position: relative;
  background-image: url(../Assets/catcream.jpg);
  background-size: cover;
  width: 20rem;
  height: 12rem;
  border-radius: 40px;
}

.MDD {
  position: relative;
  background-image: url(../Assets/McDogg.png);
  background-size: cover;
  width: 20rem;
  height: 12rem;
  border-radius: 40px;
}


.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 25rem;
  padding-right: 20rem;
  font-size: larger;
  font-weight: 800;
  background-color: burlywood;

}

.formTwo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: max-content;
  padding-left: 25rem;
  padding-right: 20rem;
  font-size: larger;
  font-weight: 800;
  background-color: burlywood;
  

}